*, body{
  margin: 0;
}
a{
  color: hsl(243, 87%, 12%);
  text-decoration: none;
  padding-top: 140px;
  position: relative;
  top: 40px;
  padding-right: 40px;
  right: 40px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.nav-bar{
  text-align: right;
height: 100px;
margin-bottom: 50px;
}
.logo{
position: absolute;
top: 3%;
left: 3%;
}
.top-slide{
  display: flex;
  margin-bottom: 250px;
}
.top-slide-content{
  display: inline-block;
  width: 45%;
  padding-left: 60px;
  padding-top: 50px;
}
.top-slide-image{
  display: inline-block;
  width: 55%;

}
.illustration-1{
  width: 90%;

}
.headings{
  color: hsl(243, 87%, 12%);
  font-size: 38px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.text{
  color: hsl(243, 87%, 12%);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.input-1{
  width: 250px;
  height: 30px;
  margin-right: 30px;

}
button{
  width: 160px;
  height: 36px;
  border: none;
  text-align: center;
  color: white;
  background-color: hsl(224, 93%, 58%);
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
button:hover{
  opacity: 0.7;
  cursor: pointer;
}
.bottom-slide{
  background-color: hsl(240, 75%, 98%);
  display: flex;
padding-bottom: 100px;
}
.curve-desktop{
  width: 100%;
  position: relative;
  top: 8px;
}

.bottom-slide-content{
  display: inline-block;
  width: 50%;
  padding-left: 60px;
}
.text-bottom{width: 80%;}
.bottom-slide-image{
  display: inline-block;
  width: 50%;
}
.text-2{
  margin-top: 20px;
}
.illustration-2{
  width: 90%;
}
.Fylo-bottom-text{
  text-decoration: underline;
  color: hsl(170, 45%, 43%);
  margin-top: 20px;
  margin-bottom: 20px;
}
.arrow{
  position: relative;
  top: 3px;
  left: 3px;
}
.bottom-review{
  width: 45%;
  background-color: white;
  border-radius: 5px;
padding: 30px;
color: hsl(243, 87%, 12%);
}
.bottom-review-text{
  margin-top: 5px;
line-height: 26px;
margin-bottom: 20px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
}
.initials{
  display: flex;
}
.avatar-div{
  display: inline-block;
}
.initials-div{
  display: inline-block;

}
.avatar{
  width: 34px;
  height: auto;
  border-radius: 20px;
  margin-right: 6px;
}


.name{
color: hsl(243, 87%, 12%);
font-family: 'Raleway', sans-serif;
font-weight: 700;
}
.company{
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 12px;
}
.form-footer{
  background-color: hsl(238, 22%, 44%);
padding: 100px  0 100px 90px;
display: flex;
}
.input-2{
  width: 350px;
  height: 30px;
margin-top: 20px;
}
.button-2{
  display: block;
  margin-top: 30px;
}
.form-footer-text{display: inline-block;width: 50%;}
.form-footer-form{display: inline-block;width: 50%;}
.form-footer-heading{
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.form-footer-paragraph{
width: 65%;
color:white;
line-height: 26px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
}
.footer{
  background-color: hsl(243, 87%, 12%);
  padding-top: 20px;
  padding-bottom: 60px;
}
.bottom-logo {
  padding-top: 50px;
  margin-left: 50px;
}

.bottom-logo-img {
  filter: brightness(0) invert(1);
}

.bottom-text {
  margin-left: 50px;
  display: flex;
  color: hsl(193, 100%, 96%);
  opacity: 0.9;
}

.icon-1 {
  position: relative;
  left: 20px;
  top: 58px;
}

.icon-2 {
  position: relative;
  right: 15px;
}

.icon-3 {
  position: relative;
  right: 15px;
}

.first-colomn {
  width: 38%;
}



.second-figure {
  margin-left: 30px;
  margin-bottom: 35px;
}

.third-figure {
  margin-left: 30px;
  margin-bottom: 15px;
}

.second-colomn {
  display: inline-block;
  width: 20%;
  padding-top: 20px;
}

.third-column {
  margin-left: 28px;
  margin-bottom: 15px;
}

.about {
  margin-left: 40px;
  margin-bottom: 20px;
}

.third-colomn {
  display: inline-block;
  width: 20%;
  padding-top: 20px;
}

.forth-colomn {
  padding-top: 20px;
  display: inline-block;
  width: 38%;
  position: relative;
  bottom: 0;
  left: 0;
}

.new-head{
  font-size: 48px;
}


#icon-1 {
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 20px;
}

#icon-2 {
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid white;
  border-radius: 20px;
}

#icon-3 {
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid white;
  border-radius: 20px;
}
.about:hover{
  color: hsl(224, 93%, 58%);
  cursor: pointer;
}
i:hover{
  color: hsl(224, 93%, 58%);
  cursor: pointer;
  border-color: hsl(224, 93%, 58%);
}
.curve-mobile{
  display: none;
}

@media screen and (max-width: 400px){
  .top-slide{
display:table;
margin-bottom: 90px;
  }
  .top-slide-content{
    display:table-row-group;
  }
  .top-slide-image{
    display:table-header-group;
  }


  .logo{
    width: 80px;
  }
  a{
    color: hsl(243, 87%, 12%);
    text-decoration: none;
    padding-top: 30px;
    position: relative;
    top: 23px;
    padding-right: 10px;
    right: 10px;
    font-size: 16px;

  }
  .nav-bar{
margin:0;
  }


.illustration-1{
  width: 100%;

}
.headings{
  text-align: center;
  font-size: 28px;
margin-top: 25px;
}
.text{
  font-size: 16px;
text-align: center;
padding-bottom: 15px;
padding-top: 10px;
  width: 85%;
  margin: auto;
}

.input-1{
  width: 90%;
  height: 30px;
margin-left: 4%;
}

button{
  width: 92%;
  height: 36px;
  margin-left: 4%;
  margin-top: 10px;
}



  .bottom-slide{
  display:table;
  }
  .bottom-slide-content{display:table-row-group;}
  .bottom-slide-image{display:table-header-group;}
.curve-mobile{
  display: block;
  width: 100%;
}
.bottom-review{
  width: 70%;
  margin: auto;

}
.bottom-review-text{
  margin-top: 5px;
line-height: 26px;
margin-bottom: 20px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
}
.Fylo-bottom-text{

  text-align: center;
}
  .curve-desktop{
    display: none;
  }
  .form-footer{
    display: block;
    padding: 0;
  }
  .form-footer-text{width: 100%;}
  .form-footer-form{width: 100%;}
  .form-footer-heading{
    font-size: 26px;
    text-align:center;
    margin-top: 30px;
  }
  .form-footer-paragraph{
  width: 72%;
  text-align: center;
margin: auto;
  }
  .footer{
    background-color: hsl(243, 87%, 12%);
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .input-2{
    width: 60%;
    margin-left: 19%;
    margin-bottom: 20px;
  }
  .button-2{
    width: 62%;
    margin: auto;
    margin-bottom: 80px;
  }
  .bottom-logo {
    padding-top: 10px;
    margin-left: 20px;

  }

.bottom-logo-img{
  width: 180px;
  height: auto;
}
  .bottom-text {
    margin-left: 0px;
    display: block;
  }

  .icon-1 {
    position: relative;
    left: 20px;
    top: 58px;
  }

  .icon-2 {
    position: relative;
    right: 15px;
  }

  .icon-3 {
    position: relative;
    right: 15px;
  }

  .first-colomn {
    width: 100%;
    display: block;
  }

  .first-figure {
    margin-left: 50px;
    margin-bottom: 35px;
    margin-top: 0px;

    width: 75%;
  }

  .second-figure {
    margin-left: 30px;
    margin-bottom: 35px;
  }

  .third-figure {
    margin-left: 30px;
    margin-bottom: 45px;
  }

  .second-colomn {
    width: 100%;
    display: block;
    padding: 0px;
  }

  .third-colomn {
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
    display: block;
      padding-top: 0px;
  }

  .about {
    margin-left: 14px;
    margin-bottom: 20px;
    width: 100px;
  }

  .forth-colomn {
    width: 385px;
    display: block;
    padding-left: 120px;
  }

  .copy {
    position: relative;
    top: 20px;
    right: 60px;
    font-size: 12px;
  }

  #icon-1 {
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid white;
    border-radius: 20px;
  }

  #icon-2 {
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid white;
    border-radius: 20px;
  }

  #icon-3 {
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid white;
    border-radius: 20px;
  }
}
